@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

body{
    font-family: 'Roboto', sans-serif;
    
}
header, .cards,.citation.call_to_action,footer{
    padding: 0 10vw;
}

header{
    background-color: #1f2937;
    color: #f9faf8;
    padding-bottom: 32px;
    
}

.top_content{
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top_content ul{
    display: flex;
    color: #f5e7eb;
    font-size: 18px;
    gap: 16px;
    
}
.hero{
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
    gap: 32px;
    
}
h1{
    font-size: 48px;
    font-weight: bolder;
    width: 30vw;
    flex-wrap: wrap;
    margin: 0;
    

}
h1 p{
    color: #E5e7eb;
    font-size: 18px;
}
.hero_head {
    width: 40%;
}

.hero_head button{
    background-color: #3882f6;
    border-radius: 12px;
    padding: 12px 32px;
    color: #E5e7eb;
    border: 0;
}

.img_placeholder{
    width: 40%;
    height: auto;
    background-color: #676b70;
    /* flex: 0.5 1 auto; */
    display: flex;
    
    justify-content: center;
    align-items: center;
    padding: 12px;
    flex-grow: 2;
    
    
}
.card_bock{
    display: flex;
    justify-content: space-evenly;
}

.cards h3{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.card_image{
    width: 10em;
    height: 10em;
    border: 1px #3882f6 solid;
    border-radius: 5%;
    align-self: center;
}

.card{
    
    font-size: 18px;
    
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 10em;
    
}
.card_text{
    text-align: center;
    /* color: #E5E7Eb; */
}
