@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #1f2937;
}
.img_placeholder{
    width: 200px;
    height: 100px;
    background-color: #676b70;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}